body {
    padding: 3%;
}
#repeater-container {
    display: inline-block;
}

.computer-template {
    margin: 15px;
    display: inline-block;
    width: 20%;
    height: 1%;
}

.computer-template img{
    max-width: 100%;
    max-width: 100%;
}

#interface {
    display: inline-block;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
